# ========== 图像文件 ==========
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.svg
*.webp
*.ico
*.tiff
*.tif

# ========== Shell 脚本 ==========
*.sh

# ========== Out 文件 ==========
*.out

# ========== CSV 文件 ==========
*.csv

# ========== JSON 文件 ==========
*.json

# ========== TXT 文件 ==========
*.txt

# ========== Python 编译文件 ==========
*.pyc
src/__pycache__/
# ========== 文件夹 ==========
.vscode/
__pycache__/

# ========== 保留文件夹结构说明 ==========
# 在可能因忽略而变空的目录中已放置 .gitkeep，以便 Git 保留该目录结构
# 请勿将 .gitkeep 加入忽略列表
